
div#layout-menu {	
	position: relative;
	width: 18em;
		
	margin:0;
	padding: 0 0.5em 0 0;
		
	font-size: 1.5em;
}

div#layout-menu ul {
	margin: 0;
	padding: 0;
		
	list-style-type: none;			
}

div#layout-menu li {	
	display: block;	
	font-size: 1em;
	
}

div#layout-menu .opcoes {
	padding: 0.5em;
	visibility: hidden;
	display: none;
	
	font-size: 1.2em;
}

div#layout-menu a {
	padding: 0.3em;
	
	text-decoration: none;	
	color: #000;
}

div#layout-menu a:hover {	
	color: #058;
	text-decoration: underline;
}

div#layout-menu a:active {
	color: #666;
}


div#layout-menu h3 {
	margin:0 0 0.3em 0;
	padding: 0.3em 0.5em;
	
	border-bottom: 2px solid #000;
	background-color: #EEF;
}


div#layout-menu h3:hover {			
	background-color: #ACF;
	cursor: pointer;
}

div#layout-menu h3:active {
	color: #69C;
	background-color: #DEF;
}